@charset "utf-8";
/* main.css */
main{
  position: relative;
  top:40px;
  margin-bottom: 100px;
}
.mslide{
  width: 100%;
  position: relative;
}
.mslide img{
  width: 100%; position: absolute;
  object-fit: cover;
}

.mslide > div > a:first-child img{z-index: 5;}
.mslide > div > a:nth-child(2) img{z-index: 4;}
.mslide > div > a:nth-child(3) img{z-index: 3;}
.mslide > div > a:nth-child(4) img{z-index: 2;}
.mslide > div > a:last-child img{z-index: 1;}

  /* 컨트롤 버튼 */
.clearfix::after{
  display: block;
  content:'';
  clear: both;
  padding-top: 33%;
  }
.c_btn{
  display: flex;
  justify-self: space-between;
  position: absolute;
  color: #fff;
  /* border: 2px solid #000; */
  transform: translate(-50%);
  left: 50%;bottom: 2%;
  font-size: 16px;
  width: 90px;
  line-height: 30px;
  z-index: 10;
  background-color: rgba(0,0,0,.5);
  /* border: 2px solid #ffff00; */
  border-radius: 50px;
}
.c_btn > li{padding: 0px 10px;}
.c_btn i{cursor: pointer;}
/* 콘텐츠 2영역 서식 */
.cont{
  width: 1200px;
  margin: 12px auto;  /* 슬라이드와 푸터영역에 간격을 주기 위해 */
  display: grid;
  grid-gap:10px;
  box-sizing: border-box;
  /* 2줄 3칸으로 설정하기 */
  grid-template-columns: repeat(3, auto); /* 가로 400px */
  grid-template-rows: repeat(2, auto);
}
.cont img{width: 100%;}
.cont h2{display: none;}
.notice h2, .news h2{display: block;}

.banner{width: 360px; height: 345px; overflow: hidden;}
.story{width: 460px;}
.story .bs{
  width:100%; height: 180px;
  display:block;
  overflow: hidden;
}
.story .bs:hover img{display: none;}
.story .bs:hover{
  background:url('../images/mbn0202ov.png') no-repeat;
  background-size: 100%;
}

.ad{width: 360px;}

/* 공지사항, 뉴스 기사 목록 서식 */
.notice, .news{
  width: 360px;
}
.notice > h2, .news > h2{
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.4rem;
  border-bottom: 1px solid #333;
  line-height: 40px;
  padding: 6px 1.2% 0 1.2%;
  margin-bottom:10px;
}

.notice > h2 .fa-plus, .news > h2 .fa-plus{
  float: right;
  transform: translateY(7px);
  border: 1px solid #333;
  padding: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}
/* 기사 글 목록 */
.notice li, .news li{
  line-height: 30px;
  text-indent:10px;
  /* 세트 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice a:hover, .news a:hover{
  text-decoration:underline;
}
.store{text-align: center;}
.store img{width: 93%;}

aside{
  position:fixed;
  right:0px;
  top:47%;
  background-color:#b3b3b3;
  z-index: 9999;
}

/* 모바일 해상도 */
@media screen and (max-width:767px) {
  main{top:0px;}
  .clearfix::after{padding-top:0px;}
  .mslide{height: 380px;}
  .mslide img{
    height: 100% !important;
  }
  .cont{
    margin: 12px auto;
    position: relative;
    width: 98%;
    grid-template-areas: 
      "banner"
      "story"
      "ad"
      "store"
      "notice"
      "news"
    ;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6, auto);
  }
  .banner{
    grid-area:banner;
    width: 100%;
  }
  .story{grid-area:story; width: 100%;}
  .ad{grid-area:ad; width: 100%}
  .store{grid-area:store; width: 100%;}
  .notice{grid-area:notice; width: 100%;}
  .news{grid-area:news; width: 100%; overflow: hidden;text-overflow: ellipsis;
  white-space: nowrap;}

  /* .cont article{width: 100%;} */
  /* .cont article img{width: 100%;} */
}



/* 태블릿 해상도 */
@media screen and (min-width:768px) and (max-width: 1024px) {
  /* grid속성 변경 */
  .cont{
    width:98%;
    grid-template-areas: 
      "banner  ad  "
      "story  story"
      "notice  news"
      "store  store";
    /* background-color: #333; */
    grid-template-columns: 445px 445px;
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    
  }
  /* .cont article{background-color: aqua;} */
  .banner{
    grid-area: banner;
    width: 100%; height: 400px;
  }
  .banner img{width: 100%; height: 100%;}
  .story{
    grid-area: story;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .story .bs:hover{
    /* width: 445px; */
    padding-right: 5px;
    box-sizing: border-box;
  }
  .story a:first-of-type{padding-right: 5px;}
  .story a:last-of-type{padding-left: 5px;}
  .story .bs,.story .bs + a{width: 445px;}
  .story img{width: 100%;}

  .ad{
    grid-area: ad;
    width: 100%;
    height: 400px;
  }
  .ad img{width: 100%;height: 100%;}
  .notice{grid-area: notice;}
  .news{grid-area: news;}
  .notice,.news{width: 80%;}
  .store{
    grid-area: store;
    margin: 0 auto;
  }
  .store img{width: 100%;}
}
/* 태블릿 작은 화면 */
  @media screen and (min-width:768px) and (max-width: 929px) {
    .cont{
      grid-template-columns: 365px 365px;
    }
    .banner, .ad{height: 365px;}
    .story .bs,.story .bs + a{width: 365px;}
  }